---
layout: default
---

<div class="blog list">
    {% if page.tag == "editorial" %}
    <h1 style="color: #cdd1a9;">{{ page.tag }}</h1>
    {% elsif page.tag == "scapes" %}
    <h1 style="color: #97c599;">{{ page.tag }}</h1>
    {% elsif page.tag == "designs" %}
    <h1 style="color: #738daf;">{{ page.tag }}</h1>
    {% endif %}

    {% for post in site.categories[page.tag] %}
    <article>
        <header>
            {% if post.categories contains "scapes" or "editorial" or "designs" %}
            <div class="title">{{ post.title }}</div>
            <div class="date_taken">{{ post.date_taken }}</div>
            <div class="camera">{{ post.camera }}</div>
            {% elsif page.categories contains "photo1" %}
            <div class="title">Photography 1</div>
            <div class="date_taken">{{ page.date_taken }}</div>
            <div class="camera">{{ page.camera }}</div>
            {% elsif post.categories contains "articles" %}
            <div class="title">{{ post.title }}</div>
            <div class="author">By {{ post.author }}</div>
            <div class="date">Published {{ post.date | date_to_string }}</div>
            {% endif %}
        </header>
        {{ post.content }}
    </article>
    {% endfor %}
</div>