<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/images/faviconcircle.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .widenav {
            position: absolute;
            top: 4.8em;
            right: 5vw;
        }

        .narrownav {
            padding-bottom: 0;
        }
    </style>
</head>

<body>
    <header>

        <nav class="widenav" id="main-menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/people">people</a></li>
                <li><a href="/sports">sports</a></li>
                <li><a href="/events">events</a></li>
                <li><a href="/category/editorial">editorial</a></li>
                <li><a href="/category/scapes">scapes</a></li>
                <li><a href="/category/designs">designs</a></li>
                <!-- <li><a href="/category/articles">articles</a></li> -->
                <!-- <li><a href="/directory">directory</a></li> -->
            </ul>
        </nav>

        <nav class="narrownav" id="mobile-menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/people">people</a></li>
                <li><a href="/sports">sports</a></li>
                <li><a href="/events">events</a></li>
                <li><a href="/category/editorial">editorial</a></li>
                <li><a href="/category/scapes">scapes</a></li>
                <li><a href="/category/designs">designs</a></li>
                <!-- <li><a href="/category/articles">articles</a></li> -->
                <!-- <li><a href="/directory">directory</a></li> -->
            </ul>
        </nav>

    </header>
    <main style="padding-bottom: 3px;">
        {{ content }}
    </main>

    <!-- <footer>
        <ul>
            <li></li>
        </ul>
    </footer> -->
</body>

</html>