<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/images/faviconcircle.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header >
        <nav class="fade">
            <ul class="scroll">
                <li><a href="/p1">home</a></li>
                <li><a href="/p1/portfolio">portfolio</a></li>
                <li><a href="/p1/p2f">photographers to follow</a></li>
                <li><a href="/p1/research">research</a></li>
                <li><a href="/p1/camerafunctions">camera functions</a></li>
                <!-- <li><a href="/category/articles">articles</a></li> -->
                <!-- <li><a href="/directory">directory</a></li> -->
            </ul>
        </nav>
    </header>
    <main style="padding-bottom: 3px;">
        {{ content }}
    </main>

    <!-- <footer>
        <ul>
            <li></li>
        </ul>
    </footer> -->
</body>

</html>